.cursor-pointer {
  cursor: pointer;
}

.header {
  display: flex;

  flex-direction: row;
}

.flex-1 {
  flex-grow: 1;
}

.font-small {
  font-size: 0.9rem;
  gap: 0.5rem;
}

.chat-list {
  height: calc(100vh - 60px);
  overflow-y: scroll;
}
